@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.inicio-container {
  min-height: 100vh;
  width: 100%;
  background: #b73030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  overflow: hidden;
}



.inicio-img {
  width: 800px;
  max-width: 80%;
  object-fit: contain;
}

.inicio-btn {
  padding: 15px 40px;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.inicio-btn:hover {
  transform: scale(1.05);
  background: #111;
}




.inicio-title {
  font-family: 'Baloo 2', cursive;
  font-size: 8rem;
  font-weight: 800;
  color: #000;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 30px;

  text-shadow:
    3px 3px 0 #fff,
    6px 6px 0 rgba(0,0,0,0.3),
    0 0 10px rgba(255,255,255,0.6);

  animation:
    bounceIn 1s ease-out,
    glow 2.5s infinite alternate,
    float 3s ease-in-out infinite;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.3) translateY(-80px);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}


@keyframes glow {
  from {
    text-shadow:
      3px 3px 0 #fff,
      6px 6px 0 rgba(0,0,0,0.3),
      0 0 10px rgba(255,255,255,0.5);
  }
  to {
    text-shadow:
      3px 3px 0 #fff,
      6px 6px 12px rgba(255,255,255,0.9),
      0 0 18px rgba(255,255,255,1);
  }
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
